
<nav class="navbar navbar-expand-md fixed-top">
		<div class="container"> 
			<a class="navbar-brand" href="#"><img src="https://cdn.docplexus.com/ui2/static/pages/images/logo.png?1473163667"></a>
		</div>
</nav>


<div class="listing pt-5">
	<div class="container">
    <div class="card-columns">
        <div class="card" *ngFor="let data of quotes">
			<div class="image-box">
				<div class="overlay" [ngStyle]="{'background-image':'linear-gradient(to right, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)), url('+ data.url +')'}">
					   <h4 class="card-title">{{data.author.name}} </h4>
					    <p class="card-text profession"> {{data.author.profession}}</p> 
						 <span class="topics" *ngFor="let topic of data.topics">
							   {{topic}}
						</span>
						<div class="info">
							<p class="card-text">AutherId : {{data.author.id}}</p>
						    <p class="card-text"> Born : {{data.author.born}}</p>
						    <p class="card-text"> Died : {{data.author.died}}</p>
						</div>
				</div>
			</div>
            <div class="card-body">
                 <!--  <p class="card-text"> Intro : {{data.author.intro}}</p>-->
                 <p class="card-text">{{data.id}}</p>
                 <p class="card-text quote-text">{{data.quote}}</p>
				 <div class="social">
					<span><i class="fas fa-share-alt text-success"></i> {{data.shareCount}}</span>
					<span><i class="far fa-thumbs-up text-primary"></i> {{data.likeCount}}</span>
					<span><i class="far fa-eye text-danger"></i> {{data.viewCount}}</span>
				</div>
            </div>
        </div>    
    </div>
</div>	
		
		
		
		
		
		
		
		
		
		
		
		
		
      </div>

<router-outlet></router-outlet>
