<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->

<nav class="navbar navbar-expand-md fixed-top">
<div class="container">  <a class="navbar-brand" href="#"><img src="https://cdn.docplexus.com/ui2/static/pages/images/logo.png?1473163667"></a>
</div>
</nav>






<!--style="background:rgba(0, 0, 0, 0.26) url('assets/bg.jpg')"-->


<div class="listing pt-5">
       
		
		
		
		
		
	<div class="container">
    <div class="card-columns">
        <div class="card" *ngFor="let data of quotes">
          
			<div class="image-box">
				<div class="overlay" [ngStyle]="{'background-image':'linear-gradient(to right, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)), url('+ data.url +')'}">
					   <h4 class="card-title">{{data.author.name}} </h4>
					    <p class="card-text profession"> {{data.author.profession}}</p> 
						 <span class="topics" *ngFor="let topic of data.topics">
							   {{topic}}
								<!-- {{data.topics.length<=2?',':'' }} -->
						</span>
					<div class="info">
						<p class="card-text">AutherId : {{data.author.id}}</p>
					   <p class="card-text"> Born : {{data.author.born}}</p>
					  <p class="card-text"> Died : {{data.author.died}}</p>
					  </div>
				</div>
				</div>
            <div class="card-body">
             
				
				
              
               
                  <!--  <p class="card-text"> Intro : {{data.author.intro}}</p>-->
                  <p class="card-text">{{data.id}}</p>
                  <p class="card-text quote-text">{{data.quote}}</p>
				  <div class="social">
						<span><i class="fas fa-share-alt text-success"></i> {{data.shareCount}}</span>
					  <span><i class="far fa-thumbs-up text-primary"></i> {{data.likeCount}}</span>
					  <span><i class="far fa-eye text-danger"></i> {{data.viewCount}}</span>
				  </div>
            </div>
        </div>
       
       
       
     
        
       
       
    </div>
</div>	
		
		
		
		
		
		
		
		
		
		
		
		
		
      </div>

<router-outlet></router-outlet>
