/* You can add global styles to this file, and also import other style files */

body {
	  padding-top: 4.5rem;
	  }
	  
	  .navbar {
		background-color: #fff!important;
    box-shadow: 1px 1px 1px #dedcdc;
	  }
	  
	  @media (min-width: 576px) {
	
.container {
       max-width: 100% !important;
}
  }

	  
	  @media (min-width: 1200px) {
	  .container {
    max-width: 1440px !important;
}
	  }
	  @media (min-width: 576px) {
	.card-columns {
		-webkit-column-count: 2 !important;
		column-count: 2 !important;
		-webkit-column-gap: 1.25rem;
		column-gap: 1.25rem;
		orphans: 1;
		widows: 1;
	}
}
	  @media (min-width: 991px) {
	.card-columns {
		-webkit-column-count: 3 !important;
		column-count: 3 !important;
		-webkit-column-gap: 1.25rem;
		column-gap: 1.25rem;
		orphans: 1;
		widows: 1;
	}
}
	  
@media (min-width: 1200px) {
	.card-columns {
		-webkit-column-count: 4 !important;
		column-count: 4 !important;
		-webkit-column-gap: 1.25rem;
		column-gap: 1.25rem;
		orphans: 1;
		widows: 1;
	}
}
.card {


.image-box {
    width: 100%;
    height: 235px;
	position:relative;
	.overlay {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 10px;
		color: #fff;
		background-size: cover;
		.profession {
			text-transform: capitalize;
			margin-bottom:0.40rem;
		}
		.topics {
			    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 5px;
    padding: 0 5px;
    font-size: 0.90rem;
    border-radius: 2px;
	text-transform: capitalize;

		}
		
		.info {
			position: absolute;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.53);
			width: 100%;
			left: 0;
			padding: 10px;
			    color: #d8d8d8;
			p {
					margin-bottom:0 !important;
					font-size: 0.90rem;
			}
		}
		h4 {
		 font-size:1.2rem;
		}
		
	}
}
	.card-body {
	    padding: 1rem;
	.quote-text {
	       font-size: 1.1rem;
			font-weight: 500;
	        margin-bottom: 1.5rem;
	}
		.social {
			display:flex;
			span {
				flex:1;
				    font-size: 0.85rem;
			}
		}
	}
	

}



	


	  
	  